.card {

    width: 300px;
    height: 280px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .card * {
    transition: 0.3s ease all;
  }
  
  .card img {
    border-radius: 100%;
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    display: block;
  }
  
  .card h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
  }
  
  .card .focus-content {
    display: block;
    padding: 8px 12px;
  }
  
  .card p {
    margin: 0;
    line-height: 1.5;
  }
  
  .card:hover img, .card:focus-within img {
    margin-top: -80px;
  }
  
  .card:hover h3, .card:focus-within h3 {
    padding: 8px 12px 0;
  }


.card2 {
  
  width: 300px;
  height: 280px;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border-radius: 8px;  box-sizing: border-box;
  overflow: hidden;
}
  
.card2 * {
  transition: 0.3s ease all;
}
  
.card2 img {
  margin: 0;
  width: 300px;
  height: 224px;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}
  
.card2 h3 {
  margin: 0;
  padding: 12px 12px 48px;
  line-height: 32px;
  font-weight: 500;
  font-size: 20px;
}
  
.card2 .focus-content {
  display: block;
  padding: 8px 12px;
}
  
.card2 p {
  margin: 0;
  line-height: 1.5;
}
  
.card2:hover img, .card2:focus-within img {
  margin-top: -80px;
}
  
.card2:hover h3, .card2:focus-within h3 {
  padding: 8px 12px 0;
}
}
body {
    width: auto;
    min-width: auto;
    margin-left: 0 auto;
    margin-right: 0  auto;
    display: block;
    background-color:#c1c1c1;
    font-size:13px;
    font-family: Baloo;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    } 
    nav{
      display: flex;
      height: 80px;
      width: 100%;
      background: #1b1b1b;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
    }
    nav .logo{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.active,
    nav ul li a:hover{
      color: #111;
      background: #fff;
    }
    nav .menu-btn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
    }
    input[type="checkbox"]{
      display: none;
    }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btn i{
        display: block;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #click:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: cyan;
      }
    }
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: -1;
      width: 100%;
      padding: 0 30px ;
      padding-top: 100px;
      color: #1b1b1b;
    }
    .content div{
      font-size: 20px;
      font-weight: 800;
    }